.login-container {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container h2 {
  text-align: center;
}

.login-container form {
  margin-top: 20px;
}

.login-container label {
  display: block;
  margin-top: 10px;
}


.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login-container input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-container input[type="submit"]:hover {
  opacity: 0.8;
}

.login-container p {
  text-align: center;
}